* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

input, button {
    border-radius: 5px;
    border: 1px solid grey;
    height: 30px;
    font-size: 18px;
    padding-left: 10px;
    margin: 5px;
}

button {
    width: 120px;
    text-align: center;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

canvas {
    height: 99%;
    width: 100%;
    display: block;
}

footer {
    background: linear-gradient(90deg, rgba(252, 70, 107, 1) 0%, rgba(63, 94, 251, 1) 100%);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;   
}